html,
body {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #202124;
  background-color: #ffecd8;
}
input[type=button] {
  color: #202124;
  background-color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border: solid 1px #f7ba79;
  border-radius: 0;
  outline: none;
  min-width: 90px;
}
