html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  color: #202124;
  background-color: #ffecd8;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
}
simple-list-view {
  width: 100%;
  flex: 1;
  outline: none;
  border: solid 1px #f7ba79;
  overflow: hidden;
  background-color: #fff;
}
simple-list-view::part(index),
simple-list-view::part(ext) {
  justify-self: center;
}
simple-list-view::part(size) {
  padding-inline-end: 1ch;
}
simple-list-view::part(ext),
simple-list-view::part(size) {
  color: #8f4900;
}
option {
  padding: 3px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#toolbar {
  display: grid;
  grid-template-columns: 1fr min-content min-content min-content;
  grid-gap: 2px;
  margin-top: 2px;
}
input {
  border: solid 1px #f7ba79;
  color: #202124;
  background-color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
}
[data-cmd=close-me] {
  justify-self: start;
}
